@model MVCBartender.Models.PatronModel

@{
    ViewBag.Title = "ThankYou";
}


<head>
    <link rel="stylesheet" href="~/Content/Site.css">
    <h1 align="center">Thank you for your order, we will have your drink shortly.</h1>
</head>
<br />
<center>
    <button class="buttonA" onclick="location.href = '/Home/Index';">Return To Home Page</button>
</center>
<br />
