@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <link rel="stylesheet" href="~/Content/Site.css">
</head>
<body>

        <br />
        <fieldset>
            <legend>Patron</legend>
            <button class="buttonA" onclick="location.href = '/Patron/Menu';">Menu</button>
            <button class="buttonA" onclick="location.href = '/Patron/Register';">Order A Drink</button>
        </fieldset>
        <br />
        <fieldset>
            <legend>Bartender</legend>
            <button class="buttonA" onclick="location.href = '/Bartender/Index';">Order Queue</button>
        </fieldset>
</body>
</html>